@model outfit_project.Models.customer

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Seguro que desea eliminar este cliente?</h3>
<div>
    <table class="striped">

        <thead>
            <tr>
                <th>Tipo de documento</th>
                <th>Número de documento</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Dirección</th>
                <th>Télefono</th>
                <th>Email</th>
                <th>Ciudad</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th>@Html.DisplayFor(model => model.document_type)</th>
                <th>@Html.DisplayFor(model => model.document_number)</th>
                <th>@Html.DisplayFor(model => model.names)</th>
                <th>@Html.DisplayFor(model => model.last_names)</th>
                <th>@Html.DisplayFor(model => model.address)</th>
                <th>@Html.DisplayFor(model => model.phone_number)</th>
                <th>@Html.DisplayFor(model => model.email)</th>
                <th>@Html.DisplayFor(model => model.city)</th>
            </tr>
        </tbody>
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row center">
            <div class="col s12 m12 l12">
                <button class="btn waves-effect waves-light" type="submit" name="action">Eliminar<i class="material-icons right">delete_forever</i></button> | @Html.ActionLink("Volver", "Index")
            </div>
        </div>
    }
</div>